body {
	font-family: Arial;
	margin: 0;
	text-align: center;
}
h1 {
	font-family: "Palatino Linotype";
	font-size: 1.666667em;
	/*30 /18 =1.666667em */
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	font-weight: bold;
	border-color: #66757F;
}
h2 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
	background: #55acee;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
h3 {
	font-weight: bold;
	padding-bottom: 0.5em;
}
h4 {
	font-weight: bold;
}
p {
	padding: 0.5em;
}
.text {
	font-family: Tahoma;
	margin: 1.5em;
	font-size: 20px;
	color: #66757F;
}
#pic1 {
	align-self: center;
	max-width: 100%;
	border-radius: 10px;
}
#pic2 {
	float: left;
	margin: 0 1.5%;
	width: 50%;
	padding: .5em;
	background-color: #333;
}
#pic3 {
	float: right;
	margin: 0 1.5%;
	width: 40.99%;
	padding: .5em;
	background-color: #333;
}
form{
	padding: 1em;
	border-color: #222;
	background-color: #66757F;
}
label{
	display: block;
	padding-bottom: 0.25em;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 1em;
	color: #E1E8ED;
}
ul {
	padding: 1em;
	border-color: #222;
	background-color: #55acee;
}
content {
	width : 100%;
	display: inline-block;
}
footer {
	width: 100%;
	height : 60px;
	display: inline-block;
}
* {
	box-sizing: border-box;
}
img {
	vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
}
/* Hide the images by default */
.mySlides {
	display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}
/* Next & previous buttons */
.prev,.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* Container for image text */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Six columns side by side */
.column {
	float: left;
	width: 16.66%;
}
/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}
.active,.demo:hover {
	opacity: 1;
}
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}
.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:before {
	background: #C9FFBF;
	background: linear-gradient(to right, #55acee, #afd4ff);
}
/* The navigation menu */
.navbar {
	overflow: hidden;
	background-color: #333;
}
/* Navigation links */
.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* The subnavigation menu */
.subnav {
	float: left;
	overflow: hidden;
}
/* Subnav button */
.subnav .subnavbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.navbar a:hover, .subnav:hover .subnavbtn {
	background-color: #55acee;
}
/* Style the subnav content - positioned absolute */
.subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: #55acee;
	width: 100%;
	z-index: 1;
}
/* Style the subnav links */
.subnav-content a {
	float: left;
	color: white;
	text-decoration: none;
}
/* Add a grey background color on hover */
.subnav-content a:hover {
	background-color: #eee;
	color: black;
}
/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
	display: block;
}
iframe {
	align-self: center;
	width: 45em;
	height: 25em;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: block
}
div.contact {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5em;
}
/* Media queries */
@media screen and (min-width: 3.1em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		font-size: 40%;
		display: inline-block;
		text-align: center;
		justify-content: center;
		.text{
			font-size: 200%
}
	}
	@media screen and (min-width: 6.2em) {
		#wrap {
			display: inline-block;
			justify-content: center;
		}
		html {
			font-size: 50%;
			display: inline-block;
			text-align: center;
			justify-content: center;
		}
		.text{
			font-size: 200%
}
		.navbar a {
			font-size: 100%;
		}
		.subnav .subnavbtn {
			font-size: 100%;
		}
	}
	@media screen and (min-width: 18.75em) {
		#wrap {
			display: inline-block;
			justify-content: center;
		}
		html {
			font-size: 65%;
			display: inline-block;
			text-align: center;
			justify-content: center;
		}
		.text{
			font-size: 150%
}
		.navbar a {
			font-size: 130%;
		}
		.subnav .subnavbtn {
			font-size: 130%;
		}
	}
	@media screen and (min-width: 29.6875em) {
		#wrap {
			display: inline-block;
			justify-content: center;
		}
		html {
			font-size: 100%;
		}
		.text{
			font-size: 120%;
		}
		.navbar a {
			font-size: 100%;
		}
		.subnav .subnavbtn {
			font-size: 100%;
		}
	}
	@media screen and (min-width: 55.555556em) {
		#wrap {
			display: inline-block;
			justify-content: center;
		}
		h1 {
			font-size: 200%;
		}
	}
}
