/*Color Pallette from https://paletton.com/#uid=53x0s0kw0w0jyC+oRxVy4oIDfjr */
@import url("https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

html {
	font-family: Literata, "Times New Roman", Arial; /* Imported Font Literata */
	font-size: 1.25em;
	background: #eee;
	color: #1E1E24;
	margin: 1.5em;
}
h1 {
	font-size: 1.666667em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
	font-weight: bold;
	border-color: #0B62A1;
}
h2 {
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
	background: #0B62A4;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
h3 {
	font-weight: bold;
	padding-bottom: 0.5em;
}
h4 {
	font-weight: bold;
}
p {
	padding: 0.5em;
}
.text {
}
#pic1 {
	align-self: center;
	max-width: 100%;
	border-radius: 10px;
}
#pic2 {
	float: left;
	margin: 0 1.5%;
	width: 50%;
	padding: .5em;
	background-color: #0B62A4;
}
#pic3 {
	float: right;
	margin: 0 1.5%;
	width: 40.99%;
	padding: .5em;
	background-color: #0B62A4;
}
form{
	padding: 1em;
	border-color: #222;
	background-color: #0B62A4;
}
input{
	width: 90%;
}
label{
	display: block;
	padding-bottom: 0.25em;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 1em;
	color: #E1E8ED;
}
ul {
	padding: 1em;
	border-color: #1921B1;
	background-color: #00AC6B;
}
content {
	width : 100%;
	display: inline-block;
}
footer {
	width: 100%;
	height : 60px;
	display: inline-block;
}
* {
	box-sizing: border-box;
}
img {
	vertical-align: middle;
}
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {
		opacity: .4
}
	to {
		opacity: 1
}
}
@keyframes fade {
	from {
		opacity: .4
}
	to {
		opacity: 1
}
}
/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
}
/* Hide the images by default */
.mySlides {
	display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}
/* Next & previous buttons */
.prev,.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}
/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
/* Container for image text */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Five columns side by side */
.column {
	float: left;
	width: 20%;
}
/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}
.active,.demo:hover {
	opacity: 1;
}
.tilesWrap {
	padding: 0;
	margin: 50px auto;
	list-style: none;
	text-align: center;
}
.tilesWrap li {
	display: inline-block;
	width: 20%;
	min-width: 200px;
	max-width: 230px;
	padding: 80px 20px 40px;
	position: relative;
	vertical-align: top;
	margin: 10px;
	font-family: 'helvetica', san-serif;
	min-height: 25vh;
	background: #262a2b;
	border: 1px solid #252727;
	text-align: left;
}
.tilesWrap li h2 {
	font-size: 114px;
	margin: 0;
	position: absolute;
	opacity: 0.2;
	top: 50px;
	right: 10px;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
	font-size: 20px;
	color: #b7b7b7;
	margin-bottom: 5px;
}
.tilesWrap li p {
	font-size: 16px;
	line-height: 18px;
	color: #b7b7b7;
	margin-top: 5px;
}
.tilesWrap li button {
	background: transparent;
	border: 1px solid #b7b7b7;
	padding: 10px 20px;
	color: #b7b7b7;
	border-radius: 3px;
	position: relative;
	transition: all 0.3s ease-in-out;
	transform: translateY(-40px);
	opacity: 0;
	cursor: pointer;
	overflow: hidden;
}
.tilesWrap li button:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 120%;
	background: #b7b7b7;
	top: 0;
	opacity: 0;
	left: -140px;
	border-radius: 0 20px 20px 0;
	z-index: -1;
	transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
	transform: translateY(5px);
	opacity: 1;
}
.tilesWrap li button:hover {
	color: #262a2b;
}
.tilesWrap li button:hover:before {
	left: 0;
	opacity: 1;
}
.tilesWrap li:hover h2 {
	top: 0px;
	opacity: 0.6;
}
.tilesWrap li:before {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	background: #fff;
	transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
	content: '';
	position: absolute;
	width: 40%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:before {
}
/* The navigation menu */
.navbar {
	overflow: hidden;
	background-color: #333;
}
/* Navigation links */
.navbar a {
	float: left;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar a:hover {
	background-color: #0B62A4;
}
iframe {
	align-self: center;
	width: 100%;
	height: 25em;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: block
}
div.contact {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5em;
}
/* Media queries */
@media screen and (min-width: 3.1em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		font-size: 40%;
		display: inline-block;
		text-align: center;
		justify-content: center;
	}
}
@media screen and (min-width: 6.2em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		font-size: 50%;
		display: inline-block;
		text-align: center;
		justify-content: center;
	}
	.text{
		font-size: 150%
}
}
@media screen and (min-width: 18.75em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		font-size: 65%;
		display: inline-block;
		text-align: center;
		justify-content: center;
	}
	.text{
		font-size: 150%
}
}
@media screen and (min-width: 29.6875em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		font-size: 80%;
	}
}
@media screen and (min-width: 55.555556em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		display: inline-block;
		text-align: center;
		justify-content: center;
		font-size: 100%;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
	h1 {
		font-size: 200%;
	}
	input {
		width: 50%;
	}
}
@media screen and (min-width: 80em) {
	#wrap {
		display: inline-block;
		justify-content: center;
	}
	html {
		margin-left: auto;
		margin-right: auto;
		width: 60em;
	}
	.text {
		font-size: 150%;
	}
}
